<script src="/javascripts/dashboard.js"></script>

<div  ng-controller="dashboard">
	<div class="row">
		<div class="col-md-16">

            <div class="form-group has-feedback" style="width:80%;">
        		<label for="search" class="sr-only">Search</label>
        		<input ng-model="searchCourse"type="text" class="form-control" name="search" id="search" placeholder="search">
          		<span class="glyphicon glyphicon-search form-control-feedback"></span>
        	</div>
			<!-- <button class="col-md-3 container drop-shadow" ng-click="addCourse()" style="background-color:white;">
				<h4>ADD NEW</h4>
				<div class="jumbotron" style="background-color:#00B16A; ">
					<div class="row">
						<div class="col-md-4">
						</div>
						<div class="col-md-4">
							<p><i class="fa fa-plus fa-2x"></i></p>
						</div>
						<div class="col-md-4">
						</div>
					</div>
				</div>
			</button> -->

			<div class="col-md-3 container drop-shadow fold-animation" style="background-color:white;" ng-repeat="course in allCourse | filter:searchCourse">
				<div class="margin-bottom form-inline">
					<button ng-click="deleteCourse(course)" class="btn btn-danger pull-right"><i class="fa fa-times fa-lg"></i></button>
					<h4>[[course.ALIAS]]</h4>
				</div>
				<button class="jumbotron" ng-click="showTimeline(course)" style="margin-bottom:10%;padding-right:35%;background-color:[[course.COLOR]]">
					<label>End In</label>
					<h4>[[course.END]]</h4>
					
				</button>
			</div>
		</div>
	</div>
	<div class="sticky-container">
		<ul class="sticky">
			<li class="btn-default" ng-click="addCourse()"> 
				<img style="color:green;" width="64" height="64" title="" alt="" src="/icon/add.svg" />
				<p>Add Course</p>
			</li>
		</ul>
	</div>
</div>
