<script src="/javascripts/timeline.js"></script>
<div ng-controller="timeline">
	<div class="container" >
		<div class="jumbotron" style="background:[[activeCourse.color]];color:white;">
		  <h1>{{activeCourse}}</h1>
		  <h2>sisop</h2>
		  <p>Description here</p>
		</div>
	</div>
	<ul ng-if="activeCourse.color=='#F5AB35'" class="cbp2_tmtimeline" >
		<li ng-repeat="event in allTimeline">
			<time class="cbp2_tmtime" datetime="[[event.time]]"><span>[[event.date]]</span> <span>[[event.time]]</span></time>
			<div ng-if="event.type=='presence'" class="cbp2_tmicon fa fa-user fa-lg"></div>
			<div ng-if="event.type=='assignments'" class="cbp2_tmicon fa fa-file-text fa-lg"></div>
			<div class="cbp2_tmlabel">
				<form class="form-inline">
				  <div class="form-group">
				    <h2>[[event.name]]</h2>
				  </div>
				  <div class="dropdown pull-right ">
				    <button class="btn btn-default btn-default dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-bars fa-lg"></i>
				    </button>
				    <ul class="dropdown-menu">
				      <li><a ng-click="configure(event)" href="#">Configure<i class="fa fa-cog fa-lg pull-right"></i></a></li>
				      <li class="divider"></li>
				      <li><a ng-click="deleteEvent(event)" style="color:red" href="#"><b>Delete<i class="fa fa-trash fa-lg pull-right"></i></b></a></li>
				    </ul>
				  </div>
				</form>
				<p>Type: [[event.type]]</p>
				<p>Description: [[event.description]]</p>
				<p ng-if="event.config===undefined"><b> you must configure this event</b></p>
				<div ng-if="event.config!==undefined">
					<p>Presence Time: [[event.config.presenceTime]]</p>
					<p>Allow Late : [[event.config.allowLate]]</p>
					<p>Point: [[event.config.point]]</p>
					<p></p>
				</div>
			</div>
		</li>
	</ul>

	<div class="sticky-container">
		<ul class="sticky">
			<li class="btn-default" ng-click="addEvent()"> 
				<img style="color:green;" width="32" height="32" title="" alt="" src="/icon/add.svg" />
				<p>Add Event</p>
			</li>
		</ul>
	</div>
</div>
