<script src="/javascripts/usertimeline.js"></script>
<div ng-controller="usertimeline">
	<div class="container">
		<div class="jumbotron" style="background:[[activeCourse.color]];color:white;margin-right:10%;">
		  <h1>[[activeCourse.name]]</h1>
		  <h2>Alias : [[activeCourse.alias]]</h2>
		  <p>Description: [[activeCourse.description]]</p>
		  <div >
		  	<br>
		  	<span><i class="fa fa-users fa-lg"></i>  [[studentlist.length]]</span>
		  </div>
		  
		</div>
	</div>
	<ul ng-if="activeCourse.color=='#6BB9F0'" class="cbp_tmtimeline" >
		<li ng-repeat="event in allTimeline">
			<time class="cbp_tmtime" datetime="[[event.time]]"><span>[[event.date]]</span> <span>[[event.time]]</span></time>
			<div ng-if="event.type=='presence'" class="cbp_tmicon fa fa-user fa-lg"></div>
			<div ng-if="event.type=='assignments'" class="cbp_tmicon fa fa-file-text fa-lg"></div>
			<div class="cbp_tmlabel">
				<form class="form-inline">
				  <div class="form-group">
				    <h2>[[event.name]]</h2>
				  </div>
				</form>
				<p>Type: [[event.type]]</p>
				<p>Description: [[event.description]]</p>
				<p ng-if="event.config===undefined || event.config ==''"><b> you must configure this event</b></p>
				<div ng-if="event.config!==undefined && event.config !=''">
					<p>Presence Time: [[event.config.presenceTime]]</p>
					<p>Late Time: [[event.config.lateTime]]</p>
					<p>Allow Late : [[event.config.allowLate]]</p>
					<p>Point: [[event.config.point]]</p>
					<p ng-if="event.responEvent !== null && event.responStudent !== null"><b>you have completed this event</b></p>
					<button ng-if="event.responEvent === null || event.responStudent === null" class="btn btn-default" ng-click="doEvent(event,user)">Do Event</button>

				</div>
			</div>
		</li>
	</ul>
	<ul ng-if="activeCourse.color=='#F5AB35'" class="cbp2_tmtimeline" >
		<li ng-repeat="event in allTimeline">
			<time class="cbp2_tmtime" datetime="[[event.time]]"><span>[[event.date]]</span> <span>[[event.time]]</span></time>
			<div ng-if="event.type=='presence'" class="cbp2_tmicon fa fa-user fa-lg"></div>
			<div ng-if="event.type=='assignments'" class="cbp2_tmicon fa fa-file-text fa-lg"></div>
			<div class="cbp2_tmlabel">
				<form class="form-inline">
				  <div class="form-group">
				    <h2>[[event.name]]</h2>
				  </div>
				</form>
				<p>Type: [[event.type]]</p>
				<p>Description: [[event.description]]</p>
				<p ng-if="event.config===undefined || event.config ==''"><b> you must configure this event</b></p>
				<div ng-if="event.config!==undefined && event.config !=''">
					<p>Presence Time: [[event.config.presenceTime]]</p>
					<p>Late Time: [[event.config.lateTime]]</p>
					<p>Allow Late : [[event.config.allowLate]]</p>
					<p>Point: [[event.config.point]]</p>
					<p ng-if="event.responEvent !== null && event.responStudent !== null"><b>you have completed this event</b></p>
					<button ng-if="event.responEvent === null || event.responStudent === null" class="btn btn-default" ng-click="doEvent(event,user)">Do Event</button>
				</div>
			</div>
		</li>
	</ul>
	<ul ng-if="activeCourse.color=='#EF4836'" class="cbp3_tmtimeline" >
		<li ng-repeat="event in allTimeline">
			<time class="cbp3_tmtime" datetime="[[event.time]]"><span>[[event.date]]</span> <span>[[event.time]]</span></time>
			<div ng-if="event.type=='presence'" class="cbp3_tmicon fa fa-user fa-lg"></div>
			<div ng-if="event.type=='assignments'" class="cbp3_tmicon fa fa-file-text fa-lg"></div>
			<div class="cbp3_tmlabel">
				<form class="form-inline">
				  <div class="form-group">
				    <h2>[[event.name]]</h2>
				  </div>
				</form>
				<p>Type: [[event.type]]</p>
				<p>Description: [[event.description]]</p>
				<p ng-if="event.config===undefined || event.config ==''"><b> you must configure this event</b></p>
				<div ng-if="event.config!==undefined && event.config !=''">
					<p>Presence Time: [[event.config.presenceTime]]</p>
					<p>Late Time: [[event.config.lateTime]]</p>
					<p>Allow Late : [[event.config.allowLate]]</p>
					<p>Point: [[event.config.point]]</p>
					<p ng-if="event.responEvent !== null && event.responStudent !== null"><b>you have completed this event</b></p>
					<button ng-if="event.responEvent === null || event.responStudent === null" class="btn btn-default" ng-click="doEvent(event,user)">Do Event</button>
				</div>
			</div>
		</li>
	</ul>

</div>
